{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{% static '/layui/css/layui.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'layuiadmin/style/admin.css' %}" media="all">
    <link rel="stylesheet" href="{% static '/fontawesome/css/font-awesome.min.css' %}">
    <title>租赁平台后台管理</title>
    <link rel="icon" href="{% static 'img/icon.jpg' %}">
</head>
<body class="layui-layout-body">
<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">

            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>

                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" layadmin-event="refresh" title="刷新">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="{% url 'users:index' %}" layadmin-event="refresh" title="首页">
                        平台首页
                    </a>
                </li>


            </ul>

            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item layui-hide-xs" lay-unselect title="主题">
                    <a href="javascript:;" layadmin-event="theme">
                        <i class="layui-icon layui-icon-theme"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect title="便签">
                    <a href="javascript:;" layadmin-event="note">
                        <i class="layui-icon layui-icon-note"></i>
                    </a>
                </li>
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="fullscreen">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="layui-nav-item">
                        <a href="javascript:;">{{ request.user.username }}</a>
                        <dl class="layui-nav-child">
                            <dd><a href="{% url 'users:user_logout' %}">退出登录</a></dd>
                        </dl>
                    </li>
                {% else %}
                    <li class="layui-nav-item">
                        <a href="{% url 'users:user_login' %}">
                            登录
                        </a>
                    </li>
                    <li class="layui-nav-item"><a href="{% url 'users:user_register' %}">注册</a></li>
                {% endif %}

            </ul>
        </div>

        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="{% url 'users:back_home' %}">
                    <span>{{ pt_order_obj.pt_name }}后台管理</span>
                </div>

                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
                    lay-filter="layadmin-system-side-menu">
                    <li class="layui-nav-item">
                        <a href="javascript:;" lay-tips="主页" lay-direction="2">
                            <i class="layui-icon layui-icon-home"></i>
                            <cite>主页</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd class="layui-this"><a lay-href="{% url 'users:back_home' %}">主页</a></dd>
                            <dd><a lay-href="{% url 'users:back_bz_yfb' %}">本站已发布租赁</a></dd>
                            <dd><a lay-href="{% url 'users:sh' %}">本站未发布租赁</a></dd>
                            <dd><a lay-href="{% url 'users:back_wz' %}">外站租赁管理</a></dd>
                            <dd><a lay-href="{% url 'users:back_fl' %}">本站租赁分类管理</a></dd>
                            <dd><a lay-href="{% url 'users:back_cz' %}">充值管理</a></dd>

                            <dd><a lay-href="{% url 'users:gl_user' %}">layui-logo管理</a></dd>
                            <dd><a lay-href="{% url 'users:back_order' %}">其它信息管理</a></dd>

                        </dl>
                    </li>

                    <li class="layui-nav-item">
                        <a href="javascript:;" lay-tips="用户" lay-direction="2">
                            <i class="layui-icon layui-icon-user"></i>
                            <cite>用户</cite>
                        </a>

                        <dl class="layui-nav-child">
                            <dd><a lay-href="{% url 'users:back_user_info' %}"><i
                                    class="layui-icon layui-icon-user"></i><cite>基本资料</cite></a></dd>
                        </dl>
                        <dl class="layui-nav-child">
                            <dd><a lay-href="{% url 'users:back_user_password' %}"><i
                                    class="layui-icon layui-icon-password"></i><cite>修改密码</cite></a></dd>
                        </dl>
                    </li>
                </ul>

            </div>
        </div>

        <!-- 页面标签 -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li lay-id="{% url 'users:back_home' %}" lay-attr="{% url 'users:back_home' %}"
                        class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
                </ul>
            </div>
        </div>

        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe src="{% url 'users:back_home' %}" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>

        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'layui/layui.js' %}"></script>
    <script>
        layui.config({
            base: "{% static 'layuiadmin/' %}" //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use('index');
    </script>
</div>
</body>
</html>



