{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>账号租赁平台</title>
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static '/layui/css/layui.css' %}">
    <script src="{% static 'js/jquery-1.7.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/common.js' %}" type="text/javascript"></script>
</head>
<body class="index">

<div class="top">
    <div class="w1200">
        <div class="left">{% if request.user.is_authenticated %}您好 {{ request.user.username }}，欢迎光临{{ pt_order_obj.pt_name }}！
            <a href="{% url 'users:user_logout' %}">退出登录</a>{% else %}您好，欢迎光临{{ pt_order_obj.pt_name }}！
            <a href="{% url 'users:user_login' %}">[登录]</a>
            <a href="{% url 'users:user_register' %}">[注册]</a>{% endif %}</div>
<div class="right"><a href="{% url 'users:yfkdd_list' %}">已付款订单</a><a href="{% url 'users:user_message' %}">我的消息</a>{% if request.user.is_superuser == 1 %}<a href="{% url 'users:back_index' %}">管理</a>{% endif %}</div>    </div>
</div>

<div class="head">
    <div class="w1200">
        <div class="logo" style="text-align: center;font-size: 40px;"><a href="{% url 'users:index' %}"
                                                                         style="color: #e83426">{{ pt_order_obj.pt_name }}</a></div>
        <div class="search">
        	<form action="{% url 'users:bz_list' %}" class="form">
        		<input type="text" placeholder="输入本站租赁标题关键字" id="keyword" name="keyword" class="txt"/>
                <input type="submit" value="搜索" class="sub"/>
            </form>
        </div>
        <div class="s_r">
            <dl>
                <dd>客服电话：<b>{{ pt_order_obj.phone }}</b></dd>
            </dl>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="menu">
    <div class="w1200">
    <div class="item" id="nav"><a href="#" style="width:204px;background: no-repeat 60px center;padding-left:30px">本站租赁分类</a>
        	<div class="nav_son">
            	<ul>
                    {% for zuhao_fl in zuhao_fl_list %}
                	<li class="li01"><a href="{% url 'users:bz_list' %}?game_name={{ zuhao_fl.name }}">{{ zuhao_fl.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="item"><a href="{% url 'users:index' %}"
                             {% if a == 'index' %}style="background:no-repeat 60px center #e83426"{% endif %}>首页</a>
        </div>
        <div class="item"><a href="{% url 'users:bz_list' %}"
                             {% if a == 'bz_list' %}style="background:no-repeat 60px center #e83426"{% endif %}>本站租赁</a>
        </div>
        <div class="item"><a href="{% url 'users:wz_list' %}"
                             {% if a == 'wz_list' %}style="background:no-repeat 60px center #e83426"{% endif %}>外站租赁</a>
        </div>
        <div class="item"><a href="{% url 'users:cz' %}"
                             {% if a == 'cz' %}style="background:no-repeat 60px center #e83426"{% endif %}>充值</a></div>
        <div class="item"><a href="{% url 'users:fb_list' %}"
                             {% if a == 'fb_list' %}style="background:no-repeat 60px center #e83426"{% endif %}>发布</a>
        </div>

        <div class="item"><a href="{% url 'users:userinfo' %}"
                             {% if a == 'userinfo' %}style="background:no-repeat 60px center #e83426"{% endif %}>个人中心</a>
        </div>
    </div>
</div>
<div style="padding: 0 30%">
<div class="layui-tab">
  <ul class="layui-tab-title">
    <li class="layui-this"><a href="{% url 'users:userinfo' %}">我的资料</a></li>
    <li><a href="{% url 'users:user_password' %}">修改密码</a></li>
  </ul>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">设置我的资料</div>
                <div class="layui-card-body" pad15>

                    <div class="layui-form" lay-filter="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">账户名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="nickname" id="username" value="{{ user.username }}" lay-verify="nickname"
                                       autocomplete="off" placeholder="请输入账户名" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">邮箱</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" id="email" value="{{ user.email }}" lay-verify="email"
                                       autocomplete="off" placeholder="请输入邮箱" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">我的邀请码</label>
                            <div class="layui-input-inline">
                                <input type="text" value="{{ user.bryqm }}" lay-verify="email"
                                       autocomplete="off" disabled class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" id="tj">确认修改</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
    </div>
{% csrf_token %}
<!--footer-->
<div class="footer">
	<div class="f_bz">
    	<div class="w1200">
            <dl class="dl01">
                <dt>正品保证</dt>
                <dd>正品护航  租赁无忧</dd>
            </dl>
            <dl class="dl02">
                <dt>你消费 我买单</dt>
                <dd>返现租赁平台</dd>
            </dl>
            <dl class="dl03">
                <dt>品类丰富</dt>
                <dd>品类齐全 轻松租赁</dd>
            </dl>
            <dl class="dl04">
                <dt>特色服务体验</dt>
                <dd>为您呈现不一样的服务</dd>
            </dl>
            <div class="clear"></div>
        </div>
    </div>
</div>


<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'layui/layui.all.js' %}"></script>
<script type="text/javascript">
    $('#tj').click(function () {
        var username = $('#username').val();
        var email = $('#email').val();
        $.ajax({
            async: false, //同步请求，true为异步请求，默认为true
            url: "",
            type: 'post',
            data: {
                username: username,
                email: email,
                csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
            },
            success: function (data) {
                if (data.status == 'ok') {
                    layer.alert(data.msg);
                } else if (data.status == 'null') {
                    layer.alert(data.msg);
                }else {
                    layer.tips(data.msg, '#'+data.status,{
                        tips: 2  //向右
                    });
                }

            }
        })

    })
</script>
</body>
</html>
